<html lang="en">
    <header>
        <title>GamePass App</title>
    </header>
    <body>
        <div class="main" ng-app="myGames" ng-controller="gameController">
            <section class="cards">
                <ng-template
                    ngFor
                    let-item
                    [ngForOf]="games"
                    let-i="index"
                    [ngForTrackBy]="getGameId"
                >
                    <li *ngFor="let game of games; index as i">
                        {{ i }}/{{ games.length }} {{ game.id }}
                    </li>
                </ng-template>
            </section>
        </div>
    </body>
</html>
