.game-card {
    width: 300px;
    height: 300px;
    margin: 10px;
}

.game-card p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.game-table {
    height: 100%;
}

.game-grid {
    height: auto;
}

.header-spacer {
    flex: 1 1 auto;
}

.toolbar-header {
    width: 100%;
}

.filter {
    width: 100%;
    height: 50px;
}

.title {
    font-size: 25px;
}

.mat-sidenav.selected {
    width: 25%;
}
