.game-card {
    width: 300px;
    height: 300px;
    margin: 10px;
}

.game-card p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.game-table {
    height: 100%;
}

.game-grid {
    height: auto;
}

.header-filter {
    float: right;
}

.toolbar-header {
    width: 100%;
}
